@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(30, 32, 33);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    padding-left: 20px;
}

.navigation a:hover {
    color: #3a6cf4;
}

#pic {
    width: 100%;
    height: auto;
}

.main-text {
    margin-top: 120px;
    padding: 20px;
}

.main-text h1 {
    font-size: 2em;
    color: #3a6cf4;
    font-weight: 600;
}

.main-text h2 span {
    color: rgb(30, 32, 33);
    font-size: 1.5em;
    font-weight: 500;
}

.main-text h3 {
    color: rgb(30, 32, 33);
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
}

.main-but {
    text-decoration: none;
    color: white;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.3s ease;
}

.main-but:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .main-text {
        text-align: center;
    }

    .main-text h1,
    .main-text h2,
    .main-text h3 {
        font-size: 1.2em;
    }

    .main-but {
        padding: 10px 20px;
    }
}